<section class="mt-5">
  <table class="table table-md mt-2 w-full">

    <thead>
      <tr>
        <th>#</th>
        <th>icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
      </tr>
    </thead>

    <tbody>
      @for (country of countries(); track country.uuid; let idx = $index) {
      <tr>
        <td>{{idx + 1}}</td>
        <td>{{ country.flagEmoji }}</td>
        <td>
          <img [src]="country.flagUrl" [alt]="country.nameCommmon" class="w-10">
        </td>
        <td>{{country.nameCommmon}}</td>
        <td>{{country.capitalName}}</td>
        <td>
          <span class="badge badge-secondary">{{country.population | number}}</span>
        </td>
        <td>
          <a class="link-primary cursor-pointer">Mas informacion</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
