<section class="mt-5">
  <table class="table table-md mt-2 w-full">

    <thead>
      <tr>
        <th>#</th>
        <th>icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
      </tr>
    </thead>

    <tbody>
      <!--Problema del for-->
      @for (country of countries(); track country.data.objects; let idx = $index) {
      <tr>
        <td>{{idx + 1}}</td>
        <td></td>
        <td>
          <img [src]="" [alt]="">
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
